@tailwind base;
@tailwind components;
@tailwind utilities;




*{
     font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
   
}

html {
    font-size: 14px;
  }

span{
    font-family: inherit;
    font-weight: inherit;
}

.purple{
    color: #AEADF9; 
}

.transition {
  transition: all 1s ease-in;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 100;
}

.translate-y-0 {
  transform: translateY(0);
}

.translate-y-20 {
  transform: translateY(20px);
}
